@if (IsDialogueVisible)
{
    <aside class="dialogue-box" tabindex="0" role="alert" aria-label=@($"Dialogue from dealer. Dealer says {DialogueText}")>
        <picture>
            <source 
                type="image/webp"
                srcset=@(GetSource("webp"))
            />
            <img class="dialogue-avatar" src=@(GetSource("png")) alt="A picture of the poker dealer" draggable="false" />
        </picture>

        <div class="dialogue">
            <h2 class="speaker">@Speaker</h2>
            <p class="dialogue-text">@($"\"{DialogueText}\"")</p>
            <button class="dialogue-button" @onclick=@HideDialogueBox>OK</button>
        </div>
    </aside>
}


@code 
{
    public bool IsDialogueVisible { get; set; }

    [Parameter]
    public string Speaker { get; set; } = "Dealer:";

    [Parameter]
    public string DialogueText { get; set; } = "Hello World";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        IsDialogueVisible = true;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        IsDialogueVisible = true;
    }

    private void HideDialogueBox()
    {
        IsDialogueVisible = false;
    }

    private void ShowDialogueBox()
    {
        IsDialogueVisible = true;
    }

    private string GetSource(string extension)
    {
        return $"resources/images/jack-avatar.{extension}";
    }

}
