.dialogue-box
{
    grid-area: dialogue;
    justify-self: center;
    display: flex;
    

    background-color: rgba(10, 9, 9, 0.3);
    border-radius: 25px;

    margin: 10px;
    padding: 10px;
    width: 493px;
    height: 125px;

    text-transform: uppercase;
    color: var(--color-white);
}

.dialogue
{
    display: flex;
    flex-direction: column;
}

.dialogue-avatar,
.dialogue,
.dialogue-text
{
    margin: 10px;
}

.dialogue-button
{
    display: none;

    width: 100px;
    min-height: 40px;
    font-size: 15px;
    margin: 10px;
    align-self: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{
    .dialogue-box
    {
        grid-area: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(1, 1, 1, 0.6);

        width: 100vw;
        min-height: 100vh;
        margin: 0 auto;

        position: fixed;
        z-index: 1;
    }

    .dialogue-button
    {
        display: block;
    }
}