.dialogue-box
{
    grid-area: dialogue;
    justify-self: center;
    display: flex;
    

    background-color: rgba(10, 9, 9, 0.3);
    border-radius: 25px;

    margin: 10px;
    padding: 10px;
    width: 493px;
    height: 125px;

    text-transform: uppercase;
    color: var(--color-white);
}

.dialogue-box:focus-visible
{
    outline: var(--outline);
}

.dialogue
{
    display: flex;
    flex-direction: column;
}

.dialogue-avatar,
.dialogue,
.dialogue-text
{
    margin: 10px;
}

.dialogue-button
{
    display: none;

    width: 100px;
    min-height: 40px;
    font-size: 15px;
    margin: 10px;
    align-self: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    .dialogue-box
    {
        z-index: 1;

        grid-area: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: fixed;
        width: 100vw;
        min-height: 100vh;
        margin: 0px;
        border-radius: 0px;

        background-color: rgba(1, 1, 1, 0.6);
    }

    .dialogue-button
    {
        display: block;
    }
}

/* Large desktop devices (2500px and up) */
@media only screen and (min-width: 2500px) 
{
    .dialogue-box 
    {
        width: 800px;
        height: 150px;
    }

    .dialogue-avatar
    {
        width: 130px;
        height: 130px;
    }

    .dialogue
    {
        font-size: var(--font-medium);
    }
}