<section class="player-hand">

    @if (Cards is not null)
    {
        @foreach(Card card in Cards)
        {
            <CardItem Card=card/>
        }
    }
    else
    {
        @for(int i = 1; i <= 5; i++)
        {
            <CardItem Card=null/>
        }
    }
   
</section>

@code 
{
    [Parameter]
    public List<Card> Cards { get; set; }
}
