@inject GameStateManager GameStateManager

<section class="player-hand" aria-hidden=@IsVisible>


    @for (int cardIndex = 0; cardIndex < Hand.Count(); cardIndex++)
    {
        <CardItem 
            Card=Hand[cardIndex] 
            IsVisible=@IsVisible 
            IsSelectable=@IsSelectable 
            Index=@cardIndex 
        />
    }
   
</section>

@code 
{

    [Parameter]
    public Hand Hand { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public bool IsSelectable { get; set; } = false;
}
