@page "/start"
@inject NavigationManager Navigator

<main class="content">
    <Logo />
    <DialogueBox />
    <PlayerHand Cards=@Hand />

    <section class="user-balance">
        <h1>Balance</h1>
        <p>@Balance</p>
    </section>

    <section class="user-actions">
        <button class="user-action">Bet</button>
        <button class="user-action" @onclick=@(() => Hand = GetCards())>Hold</button>
    </section>

    <aside class="left-info">
        <article class="poker-hand-info">
            <h2>Royal Flush</h2>
            <p>0.9</p>
        </article>

        <article class="poker-hand-info">
            <h2>Straight Flush</h2>
            <p>0.9</p>
        </article>

        <article class="poker-hand-info">
            <h2>4 of a kind</h2>
            <p>0.9</p>
        </article>

        <article class="poker-hand-info">
            <h2>Full House</h2>
            <p>0.9</p>
        </article>
    </aside>
    
    <aside class="right-info">
        <article class="poker-hand-info">
            <h2>Straight</h2>
            <p>0.9</p>
        </article>

        <article class="poker-hand-info">
            <h2>3 of a kind</h2>
            <p>0.9</p>
        </article>

        <article class="poker-hand-info">
            <h2>2 of a kind</h2>
            <p>0.9</p>
        </article>

        <article class="poker-hand-info">
            <h2>Two Pair</h2>
            <p>0.9</p>
        </article>
    </aside>

    <button class="exit-game" @onclick=@(() => navigateTo("/"))>X</button>
</main>

@code 
{
    public int Balance { get; set; } = 3000;

    public Dealer Dealer { get; set; } = new Dealer();

    public List<Card> Hand { get; set; }

    private void navigateTo(string uri)
    {
        Navigator.NavigateTo(uri);
    }

    private List<Card> GetCards()
    {
        return Dealer.DealCards(5);
    }
}
