@page "/start"
@inject GameStateManager GameStateManager
@inject NavigationManager Navigator

<main class="content">
    <Logo />
    <DialogueBox DialogueText=@GameStateManager.CurrentDialogue/>

    @if (GameStateManager.CurrentState == GameState.Deal)
    {
        <PlayerHand Hand=@GameStateManager.Player.Hand IsVisible=false />
    }

    @if (GameStateManager.CurrentState == GameState.Bet)
    {
        <PlayerHand Hand=@GameStateManager.Player.Hand IsVisible=true />
    }

    @if (GameStateManager.CurrentState == GameState.Draw)
    {
        <PlayerHand Hand=@GameStateManager.Player.Hand IsVisible=true IsSelectable=true/>
    }

    @if (GameStateManager.CurrentState == GameState.Showdown)
    {
        <PlayerHand Hand=@GameStateManager.Player.Hand IsVisible=true />
    }

    <section class="user-balance">
        <h1>Balance</h1>
        <p>@GameStateManager.Player.Balance</p>
    </section>


    <section class="user-actions">
        <button class="user-action">Bet</button>
        <button class="user-action" @onclick=@(() => GameStateManager.AdvanceGameState())>Hold</button>
    </section>

    <aside class="left-info">
        <article class="poker-hand-info">
            <h2>Royal Flush</h2>
            <p>0.9</p>
        </article>

        <article class="poker-hand-info">
            <h2>Straight Flush</h2>
            <p>0.8</p>
        </article>

        <article class="poker-hand-info">
            <h2>4 of a kind</h2>
            <p>0.7</p>
        </article>

        <article class="poker-hand-info">
            <h2>Full House</h2>
            <p>0.6</p>
        </article>
    </aside>
    
    <aside class="right-info">
        <article class="poker-hand-info">
            <h2>Straight</h2>
            <p>0.5</p>
        </article>

        <article class="poker-hand-info">
            <h2>3 of a kind</h2>
            <p>0.4</p>
        </article>

        <article class="poker-hand-info">
            <h2>2 of a kind</h2>
            <p>0.3</p>
        </article>

        <article class="poker-hand-info">
            <h2>Two Pair</h2>
            <p>0.2</p>
        </article>
    </aside>

    <button class="exit-game" @onclick=@(() => NavigateTo("/"))>X</button>
</main>

@code 
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        GameStateManager.OnGameStateChange += HandleGameState;
        GameStateManager.OnGameStateChange += StateHasChanged;

        GameStateManager.InitializeGameState();
    }

    private void HandleGameState()
    {
        Action currentStateHandler = GameStateManager.GameStateHandlers[GameStateManager.CurrentState];
        currentStateHandler();
    }

   
    private void NavigateTo(string uri)
    {
        Navigator.NavigateTo(uri);
    }


    public void Dispose()
    {
        GameStateManager.OnGameStateChange -= StateHasChanged;
    }
}
