.content 
{
    min-height: 100vh;
    display: grid;
    grid-template:
        [header-left] "logo" [header-right]
        [content-left] "content" [content-right];

    align-content: center;
}

::deep picture 
{
    grid-area: logo;
}

.menu
{
    grid-area: content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-option
{
    transform: perspective(400px) rotateX(6deg);
    box-shadow: 0px 4px 0px 0px white, 0px 8px 10px 0px #222222;

    overflow: hidden;
}

.menu-option:hover
{
    box-shadow: 0px 4px 0px 0px var(--color-black),
                0px 8px 10px 0px var(--color-black);

    
    transform: perspective(400px) rotateX(6deg);
}

.menu-option:active
{
   
    border: 2px solid var(--color-black);
    box-shadow: none;

    background-color: var(--color-white);
    color: var(--color-black);

    transform: perspective(400px) rotateX(6deg) translateY(4px);

}

.menu-option:before
{
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(-8px);
    transition: none;
}

.menu-option:hover
{
    background-color: white;
    color: black;
}

.menu-option:hover:before
{
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .app-logo 
    {
        width: 395px;
        height: 283px;
    }

    .menu-option 
    {
        font-size: var(--font-large);

        width: 244px;
        height: 103px;
        margin-bottom: 38px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .app-logo 
    {
        width: 577px;
        height: 413px;
    }
}