@page "/"
@inject NavigationManager Navigator

<PageTitle>Dotnet Blazor Poker - Index</PageTitle>

<main class="content" role="application" tabindex="0" aria-label="Simplified five card draw poker game. Navigate to menu options for more instructions.">
    <Logo/>

    <section class="menu" tabindex="0" aria-label="Menu options">
        <button class="menu-option button-primary" 
                aria-label="Start Game"
                @onclick=@(() => navigateTo("/start"))
                >
            Start
        </button>

        <button class="menu-option button-primary" 
                aria-label="Get Help"
                
                @onclick=@(() => navigateTo("/help")) 
                disabled
        >
            Help
        </button>

        <button class="menu-option button-primary"
                aria-label="View Options"
                @onclick=@(() => navigateTo("/options"))
                disabled
        >
            Options
        </button>
    </section>
    
</main>

@code
{
    private void navigateTo(string uri)
    {
        Navigator.NavigateTo(uri);
    }
}