.bet-menu 
{
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 20px ridge var(--color-brown);
    border-radius: 25px;
    min-width: 60vw;
    height: 500px;

    background-color: var(--color-light-black);
    color: var(--color-white);    
}

.exit-button
{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;

    position: absolute;
    top: 2px;
    right: 5px;
}

.exit-button:focus-visible
{
    outline: var(--outline);
}

.exit-button img
{
    width: 25px;
    height: 25px
}

.bet-chips,
.bet-display,
.bet-confirm-button
{
    justify-self: center;
    margin-bottom: 30px;
}

.bet-display 
{
    grid-area: betDisplay;
    text-align: center;
    text-transform: uppercase;
}

.bet-display-current
{
    font-size: var(--font-small);
    margin-bottom: 10px;
}


.bet-chips
{
    grid-area: chips;
}

.poker-chip
{
    width: 120px;
    height: 120px;
    user-select: none;
}

.poker-chip:focus-visible
{
    outline: var(--outline);
    outline-offset: 5px;
    border-radius: 50%;
}

.poker-chip:hover
{
    cursor: pointer;
}

.bet-confirm-button
{
    width: 200px;
    height: 80px;
    grid-area: confirm;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{
    .bet-menu 
    {
        min-height: 99vh;
        min-width: 99vw;
        border-radius: 0px;
        border: 20px solid var(--color-brown);
    }

    .poker-chip
    {
        width: 75px;
        height: 75px;
    }

    .bet-confirm-button
    {
        height: 80px;
    }

    .bet-display-info
    {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
    .bet-menu
    {
        min-width: 80vw;
        height: 600px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
    .bet-menu 
    {
        min-width: 60vw;
    }
}

/* Large desktop devices (2500px and up) */ 
@media only screen and (min-width: 2500px) 
{
    .bet-menu
    {
        min-width: 50vw;
    }

    .bet-display-current
    {
        font-size: var(--font-medium);
    }

    .bet-display-info
    {
        font-size: var(--font-small);
    }

    .bet-confirm-button
    {
        width: 300px;
        height: 100px;
    }
    .poker-chip 
    {
        width: 150px;
        height: 150px;
    }

    .exit-button
    {
        width: 70px;
        height: 70px;
    }

    .exit-button img
    {
        width: 35px;
        height: 35px;
    }
}