.bet-menu 
{
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 20px ridge var(--color-brown);
    border-radius: 25px;
    min-width: 60vw;
    height: 500px;

    background-color: var(--color-black-2);
    color: var(--color-white);

    
    
}

.exit-bet-menu 
{
    grid-area: exit;
    justify-self: center;
    align-self: center;

    position: absolute;
    top: 5px;
    right: 0px;

    border: none;
    width: 50px;
    height: 30px;
    padding: 10px;   

    background: transparent;
    color: var(--color-white);

    transition: none;
}

.exit-bet-menu:hover 
{
    color: var(--color-light-white);
}

.bet-chips,
.bet-display,
.bet-confirm-button
{
    justify-self: center;
    margin-bottom: 30px;
}

.bet-display 
{
    grid-area: betDisplay;
    text-align: center;
    text-transform: uppercase;
}

.bet-display-current
{
    font-size: var(--font-small);
    margin-bottom: 10px;
}


.bet-chips
{
    grid-area: chips;
}

.poker-chip
{
    width: 120px;
    height: 120px;
    user-select: none;

}

.poker-chip:hover
{
    cursor: pointer;
}

.bet-confirm-button
{
    width: 200px;
    height: 80px;
    grid-area: confirm;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{
    .bet-menu
    {
        min-height: 99vh;
        min-width: 99vw;
        border-radius: 0px;
    }

    .poker-chip
    {
        width: 75px;
        height: 75px;
    }

    .bet-confirm-button
    {
        height: 80px;
    }

    .bet-display-info
    {
        display: none;
    }
}