picture
{
    margin: 0 auto;
}

.app-logo
{
    width: 349px;
    height: 250px;
}

/*@media only screen and (min-width: 600px) 
{
    .app-logo 
    {
        width: 395px;
        height: 283px;
    }
}*/

/* Large desktop devices (2500px and up) */ 
@media only screen and (min-width: 2500px) 
{
    .app-logo
    {
        width: 490px;
        height: 450px;
    }
}